@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.header {
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url('../images/logo-blur.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.logo {
    width: 120px;
    height: 120px;
}

.player-control {
    text-align: center;
}

.btn {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.popular-title {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.music {
    display: flex;
    align-items: center;
    width: 300px;
    height: 63px;
    gap: 20px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.music:hover {
  background-color: #000;
  color: #fff;
}

.music-logo {
    width: 50px;
}
